.stat{
    margin: 24px 0 64px 0;
    background-color: #fff;
    display: flex;
    gap: 24px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.stat1{
    width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}

.stat2{
    width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}

.stat3{
    width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}

.stat4{
    width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}